<!--header-->
    <!--/header-->
    <!--contain-->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{> categories_list}}
            </div>
            <div class="col-md-10">
                <div id="products" class="row list-group">
                    {{> task3-item}}                                 
                </div>
            </div>
        </div>
    </div>
    <!--/contain-->
    <!--footer-->
    <footer class="container-fluid text-center">
        Copyright &copy; 2020 by 18127014 - Huỳnh Nhật Nam
    </footer>
    <!--/footer-->

    <script> document.title = "TV Sales"</script>
    <script src="/scripts/tabs.js"></script>